import os

dburl=''
redisurl='localhost'


_opencpu_host = os.getenv('OPENCPU_1_PORT_8004_TCP_ADDR', 'localhost')
_opencpu_port = os.getenv('OPENCPU_1_PORT_8004_TCP_PORT', '8004')

OPENCPUURL = 'http://' + _opencpu_host + ':' + _opencpu_port

APP_ROOT = os.path.dirname(os.path.abspath(__file__))
UPLOAD_DIR = os.path.join(APP_ROOT, 'upload')
